---
import type { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section class='flex flex-col h-[70vh] justify-center'>
  <p class='dark:text-light'>Hey, I’m</p>
  <h1 transition:name="index-title" class='leading-tight'>{name}.</h1>
  <p class='dark:text-light text-xl'>
    {about}
  </p>
</section>
